body {

background-color: #CBB799

}

button{
 background-color: FFC0CB;
 padding: 12x 22px;
}
 h1{ 
font-family: Serif;
  color: #000000;
  font-size: 180%; 
 p {
  font-family: Serif;
  font-size: 120%;
 }

}
table, th, td { 
 border: 2px solid black;
 border-collapse: collapse;
 border-radius: 12px;
tr: hover{background-color:FFFFFF}

}

